.selected {
    font-weight: bold;
    font-size: '20px';
    color: blue;
    background: red;
}

.selected:hover {
    color: white;
    background-color: black;
    font-family: sans-serif;
    font-size: '50px';
}